@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* padding: 1vh 2vw; */
    padding: 1vh 3vw;
}

/*******************************************************************************************************/
a {
    text-decoration: none;
    color: #323a45;
}
a:visited {
    color: #323a45;
}

/*******************************************************************************************************/
